﻿@using System.Linq;
@model IQueryable<ProductManagement.DomainModel.Abstract.AbstractProduction>

@{
    ViewBag.Title = "Производство";
}

<h2>Производство</h2>
<table>
    <thead>
        <tr>
            <th>Номер п.п.</th>
            <th>Дата производства</th>
            <th>Номера продукции</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var prod in Model)
    {
        <tr>
            <td>@prod.ProductionId</td>
            <td>@prod.ProductionDate</td>
            <td>@Html.ActionLink(prod.ToString(), "Edit", "Production", new { prod.ProductionId }, new { @class = "EditLink" })</td>
            <td>
                @using(Html.BeginForm("Delete", "Production"))
                {
                    @Html.Hidden("productionId", prod.ProductionId);
                    <input type="submit" value="Удалить" onclick="return confirm('Вы действительно хотите удалить производство с номером(ами)  @prod.ToString() ?')" />
                }
        </tr>
    }
</table>

<div class="actions">
    @Html.ActionLink("Добавить новое производство (одиночное)", "AddNewSingle", "Production")
    @Html.ActionLink("Добавить новое производство (диапазон)", "AddNewRange", "Production")
</div>
