﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


.dataLabel
{
    float: left;
    white-space: nowrap;
    width: 300px;
}

.dataValue
{
    padding-top: 5px;
}

.actions
{
    padding-top: 10px;

}

table
{
    empty-cells: show;
    border: 1px solid;
    border-spacing: 0px;
}

th
{
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;

}

table td
{
    text-align: center;
}

input[type="submit"]
{
    font: 10px verdana;
    height: 20px;
    margin: 5px 0 0px 0;
}