﻿@model ProductManagement.DomainModel.ProductionData.RangeProduction

@{
    ViewBag.Title = "AddNewRange";
}

<h2>Создание/редактирование производства (Диапазон элементов)</h2>

@using (Html.BeginForm("AddNewRange", "Production"))
{
    <div class="dataLabel">@Html.DisplayNameFor(x => x.ProductionDate)</div>
    <div class="dataValue">@Html.EditorFor(x => x.ProductionDate)</div>
    <div class="dataLabel">@Html.DisplayNameFor(x => x.StartNumber)</div>
    <div class="dataValue">@Html.EditorFor(x => x.StartNumber)</div>
    <div class="dataLabel">@Html.DisplayNameFor(x => x.EndNumber)</div>
    <div class="dataValue">@Html.EditorFor(x => x.EndNumber)</div>
    <div>@Html.EditorFor(x => x.ProductionId)</div>

    <div class="actions">
        <input type="submit" value="Сохранить" />
        <input type="reset" value="Очистить" />
        <input type="button" value="Отмена" onclick="window.location.href = '@Url.Action("Index", "Home")'" />
    </div>
}

