﻿@model ProductManagement.DomainModel.ProductionData.SingleProduction

@{
    ViewBag.Title = "AddNew";
}

<h2>Создание/редактирование производства (один элемент)</h2>


@using (Html.BeginForm("AddNewSingle", "Production"))
{
   
    <div class="dataLabel">@Html.DisplayNameFor(x => x.ProductionDate)</div>
    <div class="dataValue">@Html.EditorFor(x => x.ProductionDate)</div>
    <div class="dataLabel">@Html.DisplayNameFor(x => x.ProductNumber)</div>
    <div class="dataValue">@Html.EditorFor(x => x.ProductNumber)</div>
    <div>@Html.EditorFor(x => x.ProductionId)</div>
    
    <div class="actions">
        <input type="submit" value="Сохранить"/>
        <input type="reset" value="Очистить" />
        <input type="button" value="Отмена" onclick="window.location.href = '@Url.Action("Index", "Home")'" />
    </div>
}
